@import '../../index.scss';

.card {
  width: auto;
  height: auto;
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;

  h2 {
    font-size: 24px;
    font-weight: bold;

    em {
      color: $color-volanta;
      display: inline;
    }
  }

  figcaption {
    img {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: rgba(204, 204, 204, 1);
    }

    .author {
      font-family: Arial;
    }
  }
  .border {
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: #333;
    bottom: 0;
  }
}
