@import '../../index.scss';

.card {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;

  section {
    margin-bottom: 1rem;

    @media only screen and (min-width: $bp-desk) {
      margin-bottom: 5rem;
    }

    h2 {
      font-size: 18px;
      font-weight: bold;

      @media only screen and (min-width: $bp-desk) {
        font-size: $card-title-desk;
      }

      em {
        color: $color-volanta;
        display: inline;
      }
    }
  }

  figcaption {
    img {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      background-color: rgba(204, 204, 204, 1);
      object-fit: cover;

      @media only screen and (min-width: $bp-tab) {
        height: 120px;
        width: 120px;
      }
    }

    .author {
      font-family: Arial;
      font-size: 0.75rem;
      padding: 0.5rem 0;
    }
  }
  .border {
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: #333;
    bottom: 0;
  }
}
