@import '../../index.scss';

.card {
  width: auto;
  display: flex;
  flex-direction: column;

  figure {
    margin: 0;

    img {
      display: block;
      background-color: $color-volanta;
      width: 100%;
      height: 186px;
      object-fit: cover;
    }
  }
  section {
    width: 100%;
    padding: 0.5rem;

    h2 {
      display: block;
      font-size: $card-title;

      em {
        color: $color-volanta;
        display: inline;
      }
    }

    strong {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      line-height: 1rem;
      font-weight: bold;
    }
  }
}
